<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Partes Docente</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Inicio</a
          >
        </li>

        <li class="nav-item" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            id="personaDropdown"
            role="button"
            ngbDropdownToggle
            >Persona</a
          >
          <ul ngbDropdownMenu aria-labelledby="personaDropdown">
            <li>
              <a
                ngbDropdownItem
                routerLink="/personas"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="bi bi-people-fill me-2"></i>Listado de Personas
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                ngbDropdownItem
                routerLink="/personas/new"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="bi bi-person-plus-fill me-2"></i>Nueva Persona
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            id="divisionDropdown"
            role="button"
            ngbDropdownToggle
            >Divisiones</a
          >
          <ul ngbDropdownMenu aria-labelledby="divisionDropdown">
            <li>
              <a
                ngbDropdownItem
                routerLink="/divisiones"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="bi bi-list-ul me-2"></i>Listado de Divisiones
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                ngbDropdownItem
                routerLink="/divisiones/new"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="bi bi-plus-circle me-2"></i>Nueva División
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            id="cargoDropdown"
            role="button"
            ngbDropdownToggle
            >Cargos</a
          >
          <ul ngbDropdownMenu aria-labelledby="cargoDropdown">
            <li>
              <a
                ngbDropdownItem
                routerLink="/cargos"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="bi bi-list-ul me-2"></i>Listado de Cargos
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                ngbDropdownItem
                routerLink="/cargos/new"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="bi bi-plus-circle me-2"></i>Nuevo Cargo
              </a>
            </li>
          </ul>
        </li>
        <!-- ITEM DESIGNACIONES-->
        <li class="nav-item" ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            id="designacionDropdown"
            role="button"
            ngbDropdownToggle
            >Designaciones</a
          >
          <ul ngbDropdownMenu aria-labelledby="designacionDropdown">
            <li>
              <a
                ngbDropdownItem
                routerLink="/designaciones"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="bi bi-list-ul me-2"></i>Listado de Designaciones
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                ngbDropdownItem
                routerLink="/designaciones/new"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="bi bi-plus-circle me-2"></i>Nueva Designación
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
