/* Estilos para el campo requerido */
.required-field::after {
    content: " *";
    color: red;
  }
  
  /* Estilos para mensajes de error */
  .error-message {
    color: red;
    line-height: 1;
    display: block;
  }
  
  .text-danger {
    line-height: 1;
    display: block;
  }
  
  .flex-grow-1 {
    min-width: 50%;
  }
  
  /* Estilos para campos deshabilitados */
  .form-control:disabled, 
  .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 0.7;
    cursor: not-allowed;
  }

  /* Estilo para los campos inválidos */
.is-invalid {
  border: 1px solid red !important;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}



  