/* You can add global styles to this file, and also import other style files */
/* Importa Bootstrap directamente */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
.modal-container .modal-dialog {
  max-width: 500px;
  margin: 0.75rem auto;
  display: flex;
  align-items: center;
  min-height: calc(100% - 1.5rem);
}

.modal-container .modal-content {
  width: 100%;
  margin: 0;
  border: none;
  background: none;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
